<!DOCTYPE html>
<html>
<head>
    <title>Ticket Purchase Limit Exceeded</title>
    <style>
        body {
            font-family: monospace;
            background-color: #1a2535;
            
            margin: 0;
            
        }

        
    </style>
</head>
<body>
    
    <div class="alert alert-danger">
       
        <pre>We are sorry, but you can only purchase a maximum of 4 tickets.</pre>
    </div>
   
    
</body>
</html>
