@{
    ViewData["Title"] = "Concurrency Error";
}
<div class="alert alert-danger">
    <h1>Concurrency Error</h1>
    <p>An error occurred while processing your request. Another user might have modified the data you were trying to update. Please try again.</p>
</div>


<a class="btn btn-info" asp-action="" asp-controller="">Back To List of Matches </a>